Source: notint
Section: games
Priority: optional
Maintainer: Eli the Bearded <info@qaz.wtf>
Build-Depends: debhelper (>= 7), libncurses5-dev
Standards-Version: 3.9.1

Package: notint
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NOTINT Is Not Tetris(tm) or TINT...
 Offers additional game play options not found in TINT. Easytris
 has fairly predictable piece drops (but ends up harder). Zen is
 just about the line count, nothing else matters to the score.
